<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />

			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de proyectos"></p:staticMessage>
	</h:form>
	<div>
		<h:form>
			<p:panelGrid columns="2">
				<h:outputText value="Nombre del proyecto" />
				<p:inputText value="#{beanPryLider.nuevoProyecto.nombre}"
				required="true" requiredMessage="Debe poner un nombre"/>
				<h:outputText value="Fecha de inicio" />
				<p:calendar value="#{beanPryLider.nuevoProyecto.fechaInicio}" />
				<h:outputText value="Fecha de Fin" />
				<p:calendar value="#{beanPryLider.nuevoProyecto.fechaFin}"/>
				<h:outputText value="Test git" />
				<p:inputText value="github"/>
				<p:commandButton value="Guardar" icon="pi pi-save" update="@form,:formTabla" actionListener="#{beanPryLider.actionListenerInsertarProyecto()}" />
			</p:panelGrid>
		</h:form>
		<h:form id="formTabla">
			<p:dataTable value="#{beanPryLider.listaProyectos}" var="p">
				<p:column headerText="ID">
				<h:outputText value="#{p.idPryProyecto}" />
				</p:column>
				<p:column headerText="Nombre">
				<h:outputText value="#{p.nombre}" />
				</p:column>
				<p:column headerText="Fecha de inicio">
				<h:outputText value="#{p.fechaInicio}" />
				</p:column>
				<p:column headerText="Fecha fin">
				<h:outputText value="#{p.fechaFin}" />
				</p:column>
				<p:column headerText="Estado">
				<h:outputText value="#{p.estado}" />
				</p:column>
				<p:column headerText="Avance">
				<h:outputText value="#{p.avance}" />
				</p:column>
				<p:column headerText="Opciones">
				<p:commandButton title="Edit" icon="pi pi-pencil"/>
				<p:commandButton title="Delete" icon="pi pi-times"/>
				<p:commandButton value="Tareas" icon="pi pi-search" action="#{beanPryLider.actionCargarTareas(p)}"/>
				
				</p:column>
			</p:dataTable>
		</h:form>
	</div>
</body>
</html>
